.calendar{
	position: relative;
	top: 40px;
	height: 200px;
}

.months{
    height: 20px;	
  	width: 820px;
  	margin-top: 15px;
  	margin-left: 10px;
}

.s-month{
	height: 20px;
	width: 30px;
	font-size: 12px;
	color :#aaa;
}

.contrib, .streaks{
	width: 820px;
	height: 130px;
  	margin: auto;
}

#square {
	margin-top: 2px;
	width: 13px;
	height: 13px;
}

#square:hover{
	border-style: solid;
    border-color: black;
    border-width: 1px;
}

.contrib-cal{
	position: relative;
	left: 10px;
}

.box{
	height: 100px;
	width: 273px;
	text-align: center;
	color: #777;
	padding: 15px;
}
.streaks{
	/*margin-top: 40px;*/
}

.total{
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
    border-radius: 0 0 0 3px;
    border-top-width: 0px;
}

.longest{
	transform: translate(273px, -100px);
	border-style: solid;
    border-color: #d8d8d8;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
}

.current{
	transform: translate(546px, -200px);
	border-style: solid;
    border-color: #d8d8d8;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-radius: 0 0 3px 0;
}

.line-gap{
	margin-top: 5px;
	font-size: 15px;
}

.calendar-border{
	width: 820px;
	height:	164px;
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
    margin: auto;
}

.contribution-header{
	background-color: #f5f5f5;
	margin: auto;
	width: 820px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #d8d8d8;
	border-bottom: 0;
	padding: 9px 10px 10px;
	font-size: 14px;
	display: block;
}