.main-class{
	height: 640px;
}

#square {
	margin-top: 2px;
	width: 13px;
	height: 13px;
}

.calender-body{
	margin-left: 400px;
	transform: translate(-5.5px, -638px);
}

#square:hover{
	border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 11px;
    width: 11px;
}

.calender-graph{
	padding-left: 10px;
    height: 164px;
    text-align: center;
  	width: 820px;
  	margin: auto;
  	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
}

.calender-graph .months{
	height: 15px;
}

.month{
	width: 30px;
	height: 15px;
	font-size: 12px;
	color :#aaa;
}

.contrib-details{
	text-align: center;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	height: 100px;
	width: 830px;
}

.contrib-day {
	width: 273px;
	height: 100px;
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
}

.longest-streak{
	width: 273px;
	height: 100px;
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
}

.current-streak{
	width: 274px;
	height: 100px;
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
}

.lbl{
	color: #777;
	font-size: 13px;
}

.lbl0{
	margin-top: 20px;
}

.lbl1{
	font-size: 13px;
	margin-top: 10px;
	color: #777;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

.months{
	margin-top: 10px;
}

.contrib{
	margin-top: 10px;
	height: 110px;
}

.repo-detail{
	height: 350px;
}

.d3-graph0{
	margin-bottom: 10px;
    height: 348px;
    text-align: center;
  	width: 409px;
  	margin-left: auto;
  	margin-right: 32px;
  	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
}

.d3-graph1{
	margin-bottom: 10px;
    height: 348px;
    text-align: center;
  	width: 409px;
  	margin-left: auto;
  	margin-right: auto;
  	border-style: solid;/*border: 1px solid #d8d8d8*/
    border-color: #d8d8d8;
    border-width: 1px;
    transform: translate(-17px,-360px);
    border-radius: 3px 3px 3px 3px;
}

.org-detail{
	margin-top: 10px;
    height: 637px;
    text-align: center;
  	width: 400px;
  	margin-right: auto;
  	/*border-style: solid;*/
    border-color: #d8d8d8;
    border-width: 1px;
    transform: translate(0px, -359.5px);
}

img{
	height:250px;
	width: 250px;
	border-radius: 6px;
}

.org-name{
	display: block;
	font-size: 26px;
	margin-left: auto;
}

.line{
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
    width: 250px;
    margin-top: 20px;
    transform: translate(75px, 0px);
}

.loc-em-cr{
	margin-top: 20px;
	height: 10px;
	text-align: left;
	transform: translate(75px, 0px);
}

.top-header{
	height: 58px;
}

.line-top{
	width: 409px;
	border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}