<!DOCTYPE html>
<html>
<head>
	{% if org != "" %}
	<title>{{org}}</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hint.css')}}">
	<script src="{{ url_for('static', filename='js/jquery-2.1.1.js')}}"></script>
	<script src="{{ url_for('static', filename='js/calender.js')}}"></script>
</head>
<body onload="addFields()">
	<div class="main-class">
		<div class="repo-detail">
			<div class="d3-graph0">
				
			</div>
			<div class="d3-graph1">
				
			</div>
		</div>

		<div class="org-detail">

		</div>

		<div class="calender-body">
			<div class="calender-graph">
				<div class="months">
					<!-- Months -->
				</div>
				
				<div class="contrib">
					<!-- Calendar -->
				</div>
				
			</div>

			<div class="contrib-details">
				<!-- Contrib details -->
				<div class="contrib-day" style="transform: translate(0px,0px);">
					<div class="lbl0">
						<span class="lbl">Year of contributions</span>
					</div>
				</div>
				<div class="longest-streak" style="transform: translate(277px,-102px);">
					<div class="lbl0">
						<span class="lbl">Longest Streak</span>
					</div>
				</div>
				<div class="current-streak" style="transform: translate(554px,-204px);">
					<div class="lbl0">
						<span class="lbl">Current Streak</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>