<!DOCTYPE html>
<html>
<head>
	{% if org != "" %}
	<title>{{org}}</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hint.css')}}">
	<script src="{{ url_for('static', filename='js/jquery-2.1.1.js')}}"></script>
	<script src="{{ url_for('static', filename='js/calender.js')}}"></script>
</head>
<body onload="addFields()">
	<div class="top-bar">
		
	</div>
	<div class="main-class">
		<div class="repo-detail">
			<div class="d3-graph0">
				<!-- Top Users -->
				<div class="top-users-top">
					<div class="top-header line-top" style="background-color:#f5f5f5;">
						<div class="header-com">
							Popular contributers
						</div>
					</div>
					{% for n in range(4) %}
						<div class="top-header line-top">
							<div class="text-st">{{users[n+1].reference}}</div>
							<div class="count-st">{{users[n+1].total}}</div>
						</div>
					{% endfor %}
					<div class="top-header">
						<div class="text-st">{{users[4].reference}}</div>
						<div class="count-st">{{users[4].total}}</div>
					</div>
				</div>
			</div>
			<div class="d3-graph1">
				<div class="top-repos-top">
					<div class="top-header line-top" style="background-color:#f5f5f5;">
						<div class="header-com">
							Popular repositories
						</div>
					</div>
					{% for n in range(4) %}
					<div class="top-header line-top">
						<div class="text-st">{{repos[n].repo_name}}</div>
						<div class="count-st">{{repos[n].repo_commit}}</div>
					</div>
					{% endfor %}
					<div class="top-header">
						<div class="text-st">{{repos[4].repo_name}}</div>
						<div class="count-st">{{repos[4].repo_commit}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="org-detail">

		</div>

		<div class="calender-body">
			<div class="calender-graph">
				<div class="months">
					<!-- Months -->
				</div>
				
				<div class="contrib">
					<div id="vert" style="transform : translate(0px, 0px); width:13px"></div>
					<!-- Calendar -->
				</div>
				
			</div>

			<div class="contrib-details">
				<!-- Contrib details -->
				<div class="contrib-day" style="transform: translate(0px,0px);">
					<div class="lbl0">
						<span class="lbl">Year of contributions</span>
					</div>
				</div>
				<div class="longest-streak" style="transform: translate(277px,-102px);">
					<div class="lbl0">
						<span class="lbl">Longest Streak</span>
					</div>
				</div>
				<div class="current-streak" style="transform: translate(554px,-204px);">
					<div class="lbl0">
						<span class="lbl">Current Streak</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>